.carousel-item{
    max-height: 75vh;
}

nav{
    font-family: 'Josefin Sans', sans-serif;
}

#jumbo{
    font-family: 'Lemonada', cursive;
}

.msg{
    font-weight: 500;
    font-variant: small-caps;
}

.shadow-box{
    box-shadow: 0px 0px 5px rgb(27, 26, 26);
    outline: none;
    border-radius: 15px;
}

.over{
    text-decoration: overline;
}

#chatbox{
    width: 80vw;
    height: 70vh; 
    overflow-y: auto;
    margin: auto;
}

.message, #inpmsg{
    width: 60%;
    word-wrap: break-word;
}


.lmessage{
    border-radius: 45px 35px 35px 0px;
    clear: both;
}

.rmessage{
    float: right;
    border-radius: 35px 45px 0px 35px;
}

.username{
    display: block;
    font-size: 80%;
}

.txttime{
    position: absolute;
    right: 55px;
    bottom: 2px;
    font-size: 75%;
}

#inpmsgdiv{
    display: flex;
    width: 80vw;
    margin: auto;
}

#inpmsg{
    width: 95%;
    resize: none;
}

#send{
    height: 35px;
    width: 35px;
}

::-webkit-scrollbar {
    width: 8px;
    margin: 15px;
}
::-webkit-scrollbar-track {
    background: #6c757d;
}
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 100px;
}   
::-webkit-scrollbar-thumb:hover {
background: #444;
}

@media screen and (max-width: 480px){
    #chatbox{
        height: 75vh;  
    }
    .message{
        width: 85%;
        font-size: 12px;
    }
    .txttime{
        position: absolute;
        right: 18px;
        bottom: 2px;
        font-size: 75%;
    }
}